nav.navbar.navbar-fixed-top
  .navbar-header
    a.navbar-brand This Site
    button.navbar-toggle(data-toggle="collapse", data-target=".bs-navbar-collapse")
      i.icon-reorder
  .navbar-collapse.collapse.bs-navbar-collapse
    ul.nav.navbar-nav
      li
        a(href="#") #
      li
        a(href="#") #
      li
        a(href="#") #
      li
        a(href="#") #